<html>
<body>

<head>
  <meta charset="utf-8">
  <!-- style  -->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.css">
  <!-- end style  -->

 <!-- Load Vue script -->
  <script src="https://vuejs.org/js/vue.js"></script>
  <!-- On load, init Vue -->
</head>

<header class="sticky">
  <a href="index.html" class="logo">Логотип</a>
</header>

  <div id="app">

    <input type="text" v-model="txt" /><br/>

    <select v-model="stat">
      <option disabled value="">Выберите один из вариантов</option>
      <option>Зроблено</option>
      <option>Не зроблено</option>
      <option>Пізніше</option>
    </select>

<br/>


    <input type="text" v-model="val" /><br/>
    <button v-on:click="addt(txt,stat,val)">Добавить</button><br/>
    <button v-on:click="save">Сохранить</button><br/>


<li v-for="(todo,index) in filteredList">
       <p>{{todo.txt}} - {{todo.stat}}</p>
       <button v-on:click="addt(todo.txt,'Зроблено',index)">Выполнить</button>
</li>


</div>


  <footer>
    <p>Разработка для тестов</p>
  </footer>

<script src="js/core.js"></script>

</body>
</html>
